.banner {
    position: relative;
    max-width: 100%;
    height: 400px;
    overflow: hidden; /* Để ẩn phần vượt quá của các slide */
    border-radius: 10px; /* Bo góc cho toàn bộ banner */
}

.slide {
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 100%; /* Đảm bảo mỗi slide chiếm toàn bộ chiều rộng của banner */
    height: 100%; /* Đảm bảo chiều cao của slide chiếm hết chiều cao banner */
    border-radius: 10px; /* Bo góc cho mỗi slide */
}

    .slide.active {
        opacity: 1;
    }

    .slide img {
        width: 100%;
        height: auto;
        max-height: 100%;
        border-radius: 10px; /* Bo góc cho hình ảnh trong slide */
    }

/* Màn hình tablet (768px và nhỏ hơn) */
@media screen and (max-width: 768px) {
    .banner {
        display: none; /* Ẩn banner cho màn hình tablet và nhỏ hơn */
    }
}
